In [3]:
%matplotlib inline

import pandas

activos = pandas.read_csv('datos/activos.csv')

In [8]:
activos.groupby(['TIPO']).size()

TIPO
CENTRO ACUÍCOLA                              64
CENTRO ACUÍCOLA | GRANJA                      7
CENTRO ACUÍCOLA | GRANJA | LABORATORIO        1
CENTRO ACUÍCOLA | LABORATORIO                 4
EMB. MAYOR                                 3057
EMB. MENOR                                52142
GRANJA                                     5368
GRANJA | LABORATORIO                         54
LABORATORIO                                 130
dtype: int64

In [9]:
activos.groupby(['ESTADO']).size()

ESTADO
AGUASCALIENTES             9
BAJA CALIFORNIA         2133
BAJA CALIFORNIA SUR     3580
CAMPECHE                3415
CHIAPAS                 3216
CHIHUAHUA                 11
COAHUILA                 155
COLIMA                   402
DISTRITO FEDERAL          72
DURANGO                  232
GUANAJUATO              1840
GUERRERO                3700
HIDALGO                  393
JALISCO                 3775
MEXICO                   265
MICHOACAN               3125
MORELOS                  203
NAYARIT                 2124
NO DISPONIBLE              1
NUEVO LEON                10
OAXACA                  1777
PUEBLA                   769
QUERETARO                349
QUINTANA ROO             689
SAN LUIS POTOSI           73
SINALOA                11556
SONORA                  4656
TABASCO                 3841
TAMAULIPAS              2561
TLAXCALA                 134
VERACRUZ                4454
YUCATAN                 1262
ZACATECAS                 45
dtype: int64