In [1]:
%matplotlib inline

import pandas

beneficiarios = pandas.read_csv('datos/beneficiarios_diesel.csv')

In [3]:
beneficiarios.groupby(['ano']).size()

# Cantidad de beneficiarios por año

ano
2011     924
2012     792
2013    1955
2014     800
2015     849
dtype: int64

In [14]:
beneficiarios[['ano', 'monto']].groupby(['ano']).sum()

# Monto total por año

                                                  monto
ano
2011  3000002540001070000170000600004100003360003060...
2012  2688002970002000006440001100005778416800019800...
2013  216000990005108007720022083.171113001814001798...
2014  0169602000155402032018473002960017760145701300...
2015   -    182,580.00  204,508.00  61,200.00  125,5...

In [29]:
beneficiarios.groupby(['estado']).size()

# Cantidad de beneficiarios por estado

estado
BAJA CALIFORNIA                     192
BAJA CALIFORNIA SUR                  57
CAMPECHE                            286
CHIAPAS                              15
COLIMA                               28
DISTRITO FEDERAL                     16
JALISCO                               5
NAYARIT                              38
OAXACA                               88
QUINTANA ROO                         18
SINALOA                            2152
SONORA                             1012
TABASCO                              89
TAMAULIPAS                          486
VERACRUZ DE IGNACIO DE LA LLAVE     151
YUCATAN                             687
dtype: int64