In [1]:
%matplotlib inline

import pandas

beneficiarios = pandas.read_csv('datos/beneficiarios_diesel.csv')

In [3]:
beneficiarios.groupby(['ano']).size()

# Cantidad de beneficiarios por año

ano
2011     924
2012     792
2013    1955
2014     800
2015     849
dtype: int64

In [51]:
beneficiarios['monto'] =beneficiarios['monto'].apply(pandas.to_numeric, downcast='signed', errors='coerce')

beneficiarios[['ano', 'monto']].groupby(['ano']).sum()

# Monto total por año

             monto
ano
2011  7.479965e+08
2012  5.370871e+08
2013  4.861465e+08
2014  4.192091e+07
2015  4.200000e+02

In [29]:
beneficiarios.groupby(['estado']).size()

# Cantidad de beneficiarios por estado

estado
BAJA CALIFORNIA                     192
BAJA CALIFORNIA SUR                  57
CAMPECHE                            286
CHIAPAS                              15
COLIMA                               28
DISTRITO FEDERAL                     16
JALISCO                               5
NAYARIT                              38
OAXACA                               88
QUINTANA ROO                         18
SINALOA                            2152
SONORA                             1012
TABASCO                              89
TAMAULIPAS                          486
VERACRUZ DE IGNACIO DE LA LLAVE     151
YUCATAN                             687
dtype: int64