In [4]:
%matplotlib inline

import pandas

solicitudes = pandas.read_csv('datos/solicitudes_embarcaciones_menores.csv')

,Componente,Año,Estado,Municipio,Localidad,Registradas,Apoyadas
0,MOTOR,2014,AGUASCALIENTES,AGUASCALIENTES,AGUASCALIENTES,NaN,0
1,EMBARCACION,2014,AGUASCALIENTES,AGUASCALIENTES,AGUASCALIENTES,1.0,0
2,HIELERA,2014,AGUASCALIENTES,AGUASCALIENTES,AGUASCALIENTES,0.0,0
3,SISTEMA,2014,AGUASCALIENTES,AGUASCALIENTES,AGUASCALIENTES,0.0,0
4,MOTOR,2014,BAJA CALIFORNIA,ENSENADA,BAHIA DE LOS ANGELES,3.0,1

In [26]:
sol_proc = solicitudes[['Año', 'Registradas', 'Apoyadas']].groupby(['Año']).sum()

sol_proc['porcentaje'] = sol_proc['Apoyadas']*100/sol_proc['Registradas']

sol_proc.head()


# Solicitudes recibidas, procesadas y porcentaje de solicitudes atendidas por año por estado

       Registradas  Apoyadas  porcentaje
Año
2014  1.000393e+10      4708    0.000047
2015  2.847800e+04      1179    4.140038

In [7]:
solicitudes[['Año', 'Estado','Registradas', 'Apoyadas']].groupby(['Año', 'Estado']).sum()

# Solicitudes recibidas y procesadas por año por estado

                           Registradas  Apoyadas
Año  Estado
2014 AGUASCALIENTES       1.000000e+00         0
     BAJA CALIFORNIA      4.070000e+02       132
     BAJA CALIFORNIA SUR  6.790000e+02       118
     CAMPECHE             1.395000e+03       127
     CHIAPAS              2.130000e+02        63
     COAHUILA             2.900000e+01        20
     COLIMA               1.190000e+02        93
     DURANGO              5.600000e+01        21
     GUANAJUATO           8.700000e+01         0
     GUERRERO             8.500000e+02       422
     HIDALGO              3.700000e+01        37
     JALISCO              1.001000e+03       210
     MICHOACAN            5.650000e+02       431
     MORELOS              1.800000e+01        18
     NAYARIT              1.910000e+02         0
     OAXACA               3.420000e+02       195
     QUERETARO            2.500000e+01        18
     QUINTANA ROO         3.790000e+02         0
     SINALOA              1.000391e+10       816
     SONORA               1.016000e+03       353
     TABASCO              6.650000e+02       284
     TAMAULIPAS           4.380000e+02       225
     VERACRUZ             4.162000e+03       531
     YUCATAN              1.311000e+03       594
2015 BAJA CALIFORNIA      8.030000e+02        96
     CAMPECHE             2.093000e+03         1
     CHIAPAS              3.550000e+02         0
     COLIMA               2.790000e+02         0
     GUERRERO             5.830000e+02         0
     JALISCO              2.286000e+03       240
     MICHOACAN            1.320000e+02         0
     NAYARIT              4.520000e+02         0
     OAXACA               5.890000e+02         0
     PUEBLA               2.000000e+00         0
     QUERETARO            1.000000e+00         0
     QUINTANA ROO         3.160000e+02         0
     SINALOA              4.891000e+03       546
     SONORA               4.628000e+03         0
     TABASCO              1.032000e+03       296
     TAMAULIPAS           9.400000e+02         0
     VERACRUZ             6.776000e+03         0
     YUCATAN              2.320000e+03         0

In [12]:
solicitudes[['Componente', 'Registradas', 'Apoyadas']].groupby('Componente').sum()

              Registradas  Apoyadas
Componente
EMBARCACION  1.209100e+04      1685
HIELERA      4.364000e+03       203
MOTOR        1.000393e+10      3651
SISTEMA      1.151500e+04       348