In [6]:
%matplotlib inline

import pandas

solicitudes = pandas.read_csv('datos/solicitudes_gasolina.csv')

In [4]:
sol_proc = solicitudes[['ano', 'solicitudes_recibidas', 'solicitudes_atendidas']].groupby(['ano']).sum()

sol_proc['porcentaje'] = sol_proc['solicitudes_atendidas']*100/sol_proc['solicitudes_recibidas']

sol_proc.head()

# Solicitudes recibidas, procesadas y porcentaje de solicitudes atendidas por a√±o por estado

      solicitudes_recibidas  solicitudes_atendidas  porcentaje
ano
2014                  16234                  15920   98.065788
2015                   2266                   2204   97.263901

In [5]:
solicitudes[['ano', 'estado','solicitudes_recibidas', 'solicitudes_atendidas']].groupby(['ano', 'estado']).sum()

# Solicitudes recibidas y procesadas por a√±o por estado

                          solicitudes_recibidas  solicitudes_atendidas
ano  estado
2014 BAJA CALIFORNIA                         43                     43
     BAJA CALIFORNIA SUR                    655                    382
     CAMPECHE                              1486                   1472
     CHIAPAS                               1135                   1135
     COLIMA                                  13                     13
     GUERRERO                                43                     43
     HIDALGO                                190                    189
     JALISCO                               1056                   1055
     MICHOACAN                              509                    507
     NAYARIT                                500                    496
     OAXACA                                 241                    241
     QUERETARO                               78                     78
     QUINTANA ROO                            41                     41
     SINALOA                               5120                   5107
     SONORA                                 660                    659
     TABASCO                               2059                   2059
     TAMAULIPAS                            1154                   1154
     VERACRUZ                               997                    992
     YUCATAN                                254                    254
2015 BAJA CALIFORNIA                         10                      6
     BAJA CALIFORNIA SUR                     83                     81
     CAMPECHE                               703                    695
     CHIAPAS                                 79                     70
     COLIMA                                   4                      3
     GUERRERO                                25                     20
     HIDALGO                                  8                      8
     JALISCO                                 76                     76
     MICHOACAN                               52                     46
     NAYARIT                                 89                     89
     OAXACA                                  52                     43
     QUERETARO                                6                      5
     QUINTANA ROO                             5                      2
     SINALOA                                448                    439
     SONORA                                  93                     93
     TABASCO                                256                    256
     TAMAULIPAS                              78                     76
     VERACRUZ                                99                     96
     YUCATAN                                100                    100