In [1]:
%matplotlib inline

import pandas

solicitudes = pandas.read_csv('datos/solicitudes_diesel.csv')

In [18]:
sol_proc = solicitudes[['ano', 'solicitudes_recibidas', 'solicitudes_procesadas']].groupby(['ano']).sum()

sol_proc['porcentaje'] = sol_proc['solicitudes_procesadas']*100/sol_proc['solicitudes_recibidas']

sol_proc.head()

# Solicitudes recibidas, procesadas y porcentaje de solicitudes atendidas por a√±o por estado

      solicitudes_recibidas  solicitudes_procesadas  porcentaje
ano
2014                   2062                    1936   93.889428
2015                   2095                    2014   96.133652

In [28]:
solicitudes[['ano', 'estado','solicitudes_recibidas', 'solicitudes_procesadas']].groupby(['ano', 'estado']).sum()

# Solicitudes recibidas y procesadas por a√±o por estado

                          solicitudes_recibidas  solicitudes_procesadas
ano  estado
2014 BAJA CALIFORNIA                         65                      55
     BAJA CALIFORNIA SUR                     13                      13
     CAMPECHE                                99                      94
     CHIAPAS                                  1                       1
     COLIMA                                  21                      19
     JALISCO                                  0                       0
     NAYARIT                                 10                       9
     OAXACA                                  31                      30
     QUINTANA ROO                            35                      33
     SINALOA                                766                     750
     SONORA                                 351                     339
     TABASCO                                 23                      23
     TAMAULIPAS                             180                     179
     VERACRUZ                                58                      55
     YUCATAN                                409                     336
2015 BAJA CALIFORNIA                         74                      66
     BAJA CALIFORNIA SUR                     13                      13
     CAMPECHE                                98                      95
     CHIAPAS                                  3                       3
     COLIMA                                  22                      20
     NAYARIT                                 10                       7
     OAXACA                                  31                      31
     QUINTANA ROO                            34                      34
     SINALOA                                804                     789
     SONORA                                 364                     349
     TABASCO                                 22                      22
     TAMAULIPAS                             182                     181
     VERACRUZ                                53                      52
     YUCATAN                                385                     352