In [1]:
%matplotlib inline

import pandas

solicitudes = pandas.read_csv('datos/solicitudes_embarcaciones_mayores.csv')
solicitudes.head()

,Año,Estado,Municipio,Localidad,Recibidas,Apoyadas,Monto
0,2015,BAJA CALIFORNIA,ENSENADA,ENSENADA,25.0,7.0,3.27
1,2015,BAJA CALIFORNIA SUR,LA PAZ,LA PAZ,2.0,0.0,0.00
2,2015,CAMPECHE,CAMPECHE,CAMPECHE,22.0,4.0,8.57
3,2015,NAYARIT,TEPIC,TEPIC,1.0,1.0,0.38
4,2015,OAXACA,SALINA CRUZ,SALINA CRUZ,2.0,1.0,0.40

In [4]:
solicitudes[['Año', 'Recibidas', 'Apoyadas']].groupby('Año').sum()

      Recibidas  Apoyadas
Año
2014      375.0     308.0
2015      371.0     167.0